<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       required
                       [(ngModel)]="course.name"
                       name="name">
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <input type="text"
                       class="form-control"
                       id="category"
                       required
                       [(ngModel)]="course.category"
                       name="category">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                       class="form-control"
                       id="description"
                       required
                       [(ngModel)]="course.description"
                       name="description">
            </div>

            <div class="form-group">
                <label for="hours">Hours</label>
                <input type="number"
                       class="form-control"
                       id="hours"
                       required
                       [(ngModel)]="course.hours"
                       name="hours">
            </div>

            <div class="form-group">
                <label for="startDate">Start date</label>
                <input type="date"
                       class="form-control"
                       id="startDate"
                       required
                       [(ngModel)]="course.startDate"
                       name="startDate">
            </div>

            <div class="form-group">
                <label for="endDate">End date</label>
                <input type="date"
                       class="form-control"
                       id="endDate"
                       required
                       [(ngModel)]="course.endDate"
                       name="endDate">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="date"
                       class="form-control"
                       id="price"
                       required
                       [(ngModel)]="course.price"
                       name="price">
            </div>

            <button class="btn btn-success" (click)="save()">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Course was submitted successfully!</h4>
            <button class="btn btn-success" (click)="new()">New course</button>
        </div>
    </div>
</div>