<div class="spacer-pt-10"></div>
<h1 class="text-center">Certificates</h1>

<div style="float: right;" class="mb-3" matTooltip="Sign a new contract">
    <button class="btn btn-outline-primary btn-circle">
        <i class="fas fa-plus"></i>
    </button>
</div>

<div>
    <div *ngIf="!loading">
        <table *ngIf="dataSource" mat-table [dataSource]="dataSource"
               matSort
               class="mat-elevation-z8 custom-table">

            <!-- Last Name Column -->
            <ng-container matColumnDef="studentLastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last name">Last name</th>
                <td mat-cell *matCellDef="let element"> {{element.studentLastName}} </td>
            </ng-container>

            <!-- Course Column -->
            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef
                    mat-sort-header sortActionDescription="Sort by course"
                >Course</th>
                <td mat-cell *matCellDef="let element"> {{element.course}} </td>
            </ng-container>

            <!-- Date of Issue Column -->
            <ng-container matColumnDef="dateOfIssue">
                <th mat-header-cell *matHeaderCellDef
                    mat-sort-header sortActionDescription="Sort by date of issue"
                >Date of Issue</th>
                <td mat-cell *matCellDef="let element"> {{element.dateOfIssue | date}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex justify-content-evenly">
                        <div matTooltip="Download this certificate">
                            <button (click)="downloadCertificate(element.id)" class="btn btn-outline-dark btn-circle">
                                <i class="fas fa-file-download"></i>
                            </button>
                        </div>
                        <div matTooltip="Delete this certificate">
                            <button (click)="confirmDeletion(element.id)" class="btn btn-outline-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>


<!--<div *ngIf="certificates">-->
<!--    <table class="table table-bordered table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Last name</th>-->
<!--            <th scope="col">Course</th>-->
<!--            <th scope="col">Date of issue</th>-->
<!--            <th scope="col">Action</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr *ngFor="let certificate of certificates">-->
<!--            <td>{{certificate.studentLastName | titlecase}}</td>-->
<!--            <td>{{certificate.course}}</td>-->
<!--            <td>{{certificate.dateOfIssue | date}}</td>-->
<!--            <td>-->
<!--                <button-->
<!--                        (click)="downloadCertificate(certificate.id)"-->
<!--                        class="btn btn-outline-dark btn-circle">-->
<!--                    <i class="fas fa-file-download"></i>-->
<!--                </button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<div *ngIf="loading">
    <mat-spinner class="spinner m-0" [diameter]="100"></mat-spinner>
</div>
