<div class="row">
    <div class="col-md-6">

        <div *ngIf="currentCourse" class="edit-form">
            <h4>Course</h4>

            <!-- form start-->
            <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           required
                           minlength="5"
                           maxlength="50"
                           formControlName="name"
                           [ngClass]="{'is-invalid': submitted && f.name.errors}">

                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                        <div *ngIf="f.name.errors.minlength">Min length is 5 characters</div>
                        <div *ngIf="f.name.errors.maxlength">Max length is 50 characters</div>
                        <div *ngIf="f.name.errors.pattern">Please, remove the unnecessary space symbol</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text"
                           class="form-control"
                           id="category"
                           name="category"
                           required
                           minlength="5"
                           maxlength="50"
                           formControlName="category"
                           [ngClass]="{'is-invalid': submitted && f.category.errors}">

                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                        <div *ngIf="f.category.errors.required">Category is required</div>
                        <div *ngIf="f.category.errors.minlength">Min length is 5 characters</div>
                        <div *ngIf="f.category.errors.maxlength">Max length is 50 characters</div>
                        <div *ngIf="f.category.errors.pattern">Please, remove the unnecessary space symbol</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">description</label>
                    <textarea class="form-control"
                              id="description"
                              name="description"
                              required
                              minlength="5"
                              maxlength="250"
                              formControlName="description"
                              [ngClass]="{'is-invalid': submitted && f.description.errors}">

                    </textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                        <div *ngIf="f.description.errors.minlength">Min length is 5 characters</div>
                        <div *ngIf="f.description.errors.maxlength">Max length is 50 characters</div>
                        <div *ngIf="f.description.errors.pattern">Please, remove the unnecessary space symbol</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="hours">hours</label>
                    <input type="number"
                           class="form-control"
                           id="hours"
                           name="hours"
                           formControlName="hours"
                           required
                           min="10"
                           max="1000"
                           [ngClass]="{'is-invalid': submitted && f.hours.errors}"
                    >
                    <div *ngIf="submitted && f.hours.errors" class="invalid-feedback">
                        <div *ngIf="f.hours.errors.required">Hours are required</div>
                        <div *ngIf="f.hours.errors.min">Min value is 10</div>
                        <div *ngIf="f.hours.errors.max">Max value is 1000</div>
                    </div>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                            <input matStartDate formControlName="startDate" placeholder="Start date">
                            <input matEndDate formControlName="endDate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="f.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="f.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <label for="price">price</label>
                    <input type="number"
                           class="form-control"
                           id="price"
                           name="price"
                           formControlName="price"
                           required
                           min="0"
                           max="1000000"
                           [ngClass]="{'is-invalid': submitted && f.price.errors}">

                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">Price is required</div>
                        <div *ngIf="f.price.errors.min">Min value is 0</div>
                        <div *ngIf="f.price.errors.max">Max value is 1000000</div>
                    </div>
                </div>


                <!-- buttons start -->
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
                    <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
                </div>
                <!-- buttons end -->

            </form>
            <!-- form end -->
        </div>

    </div>
    <div class="col-md-6">
        <div>
            Students: <span>{{response.totalStudents}}</span>
        </div>
        <div>
            <div>
                Instructors: {{response.instructors.length}}
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Instructor</mat-label>
                <mat-select>
                    <mat-option
                            *ngFor="let i of response.instructors; let j = index"
                            (click)="setActiveInstructor(i)">
                        {{i.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="currentInstructor.id">
            <div><b>Last name: </b>{{currentInstructor.lastName}}</div>
        </div>
    </div>

    <div *ngIf="!response">
        <br/>
        <p>Cannot access this Tutorial...</p>
    </div>
</div>

<div *ngIf="loading">
    <mat-spinner class="spinner m-0" [diameter]="100"></mat-spinner>
</div>