<div class="spacer-pt-10"></div>
<h1 class="text-center">Contracts</h1>

<div style="float: right;" class="mb-3" matTooltip="Sign a new contract">
    <button class="btn btn-outline-primary btn-circle">
        <i class="fas fa-plus"></i>
    </button>
</div>

<div *ngIf="contracts && !loading">

    <table *ngIf="dataSource" mat-table [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8 custom-table">

        <!-- Company Column -->
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last name">
                Company
            </th>
            <td mat-cell *matCellDef="let element">{{element.company}}</td>
        </ng-container>

        <!-- student -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last name">
                Last name
            </th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first name">
                First name
            </th>
            <td mat-cell *matCellDef="let element">{{element.firstName}}
        </ng-container>

        <!--         Course column -->
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by course">
                Course
            </th>
            <td mat-cell *matCellDef="let element"> {{element.course}} </td>
        </ng-container>

                <ng-container matColumnDef="conclusion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by conclusion date">
                        Conclusion at
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.conclusionDate | date}}</td>
                </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button (click)="confirmDeletion(element.id)" class="btn btn-outline-danger btn-circle">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div *ngIf="loading">
    <mat-spinner class="spinner m-0" [diameter]="100"></mat-spinner>
</div>