.m-0 {
    margin: 0 auto;
}

.wrapper {
    padding: 50px 0;
}

.link-white {
    color: white;
    text-decoration: none;
}

.login-register-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
}