<div id="app">
    <mat-toolbar color="primary">
        <div class="container d-flex justify-content-between">
            <div>
                <div>
                    <a href="/home" class="link-white" routerLink="home">Home</a>
                </div>

                <div *ngIf="!isLoggedIn">
                    <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
                </div>

                <div *ngIf="!isLoggedIn">
                    <a href="/login" class="nav-link" routerLink="login">Login</a>
                </div>

            </div>

            <div class="d-flex justify-content-end">
                <mat-menu #appMenu="matMenu">
                    <div *ngIf="isLoggedIn">
                        <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
                        <a href class="nav-link" (click)="logout()">Sign out</a>
                    </div>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <span>{{username}} </span>
                    <i class="far fa-user-circle"></i>
                </button>
            </div>
        </div>
    </mat-toolbar>

    <div class="container wrapper">
        <router-outlet></router-outlet>
    </div>
</div>