<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   placeholder="Search by name">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Companies ({{companies?.length}})</h4>
        <ul class="list-group">
            <li
                    class="list-group-item"
                    *ngFor="let company of companies; let i = index"
                    [class.active]="i == currentIndex"
                    (click)="setActiveCourse(company, i)">
                {{company.name}}
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <div *ngIf="currentCompany.id">
            <h4>Company</h4>
            <div>
                <label>
                    <strong>Name: </strong>
                </label>
                {{currentCompany.name}}
            </div>

            <div>
                <label>
                    <strong>Description: </strong>
                </label>
                {{currentCompany.description}}
            </div>

            <div>
                <label>
                    <strong>Updated at: </strong>
                </label>
                {{currentCompany.updatedAt | date}}
            </div>

            <div>
                <label>
                    <strong>Created at: </strong>
                </label>
                {{currentCompany.createdAt | date}}
            </div>


            <div class="action-buttons">
                <a class="btn btn-warning btn-custom">Edit</a>
                <button class="btn btn-danger btn-custom">Delete</button>
            </div>
        </div>
        <div *ngIf="!currentCompany.name">
            <br>
            <p>Please click on a company</p>
        </div>
    </div>

</div>

<div *ngIf="loading">
    <mat-spinner class="spinner m-0" [diameter]="100"></mat-spinner>
</div>