# common
node_modules/
.git
.idea/

# database
database/utils/numbers.txt
database/sql/tmp
database/package-lock.json
database/env.sh

# backend
backend/package-lock.json
backend/app/config/db.config.js

# frontend