<div class="d-flex justify-content-between">
    <div>
        <button (click)="loadRelatedData(true)" mat-raised-button color="primary">Related {{entityName}}</button>
    </div>

    <div>
        <button (click)="loadRelatedData(false)" mat-raised-button color="primary">Unrelated {{entityName}}</button>
    </div>
</div>

<hr>

<div *ngIf="loading">
    <mat-spinner class="spinner m-0" [diameter]="100"></mat-spinner>
</div>

<div *ngIf="showData && !loading">
    <div class="mb-4">
        <div *ngIf="isDataRelated && data">
            <button (click)="moveData(false)" class="btn btn-outline-danger">Remove from course</button>
        </div>
        <div *ngIf="!isDataRelated && data">
            <button (click)="moveData(true)" class="btn btn-outline-primary">Add to course</button>
        </div>
    </div>

    <ul>
        <li *ngFor="let d of data; let i = index">
            <div class="d-flex justify-content-between">
                <div>
                    <mat-checkbox [(ngModel)]="d.checked">
                        <a [routerLink]="entityName==='instructors'?['/instructors', d.id]:['/students', d.id]">
                            {{d.name}}
                        </a>
                    </mat-checkbox>
                </div>

            </div>
        </li>
    </ul>
</div>