<div class="container">
    <header class="jumbotron">
        <h2 class="text-center">Total records</h2>
        <div *ngIf="stats">
            <div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Companies</th>
                        <th scope="col">Students</th>
                        <th scope="col">Contracts</th>
                        <th scope="col">Certificates</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Instructors</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{stats.totalRecords.companies}}</td>
                        <td>{{stats.totalRecords.students}}</td>
                        <td>{{stats.totalRecords.contracts}}</td>
                        <td>{{stats.totalRecords.certificates}}</td>
                        <td>{{stats.totalRecords.courses}}</td>
                        <td>{{stats.totalRecords.instructors}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="!stats">
            <mat-spinner class="spinner" [diameter]="100"></mat-spinner>
        </div>

    </header>
</div>