<div class="container">
    <header class="jumbotron">
        <h2 class="text-center">Total records</h2>
        <div *ngIf="totalRecords">
            <div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col"><a routerLink="/companies">companies</a></th>
                        <th scope="col"><a routerLink="/students">students</a></th>
                        <th scope="col"><a routerLink="/contracts">contracts</a></th>
                        <th scope="col"><a routerLink="/certificates">certificates</a></th>
                        <th scope="col"><a routerLink="/courses">courses</a></th>
                        <th scope="col"><a routerLink="/instructors">instructors</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{totalRecords.companies}}</td>
                        <td>{{totalRecords.students}}</td>
                        <td>{{totalRecords.contracts}}</td>
                        <td>{{totalRecords.certificates}}</td>
                        <td>{{totalRecords.courses}}</td>
                        <td>{{totalRecords.instructors}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="!totalRecords">
            <mat-spinner class="spinner" [diameter]="100"></mat-spinner>
        </div>

    </header>
</div>