<div class="" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron m-0">
        <h3>
            <strong>{{currentUser.username}}</strong>
        </h3>
    </header>
    <div class="m-0">
        <div>
            <span>Joined at: {{currentUser.createdAt | date}}</span>
        </div>
        <div>
            <span>Updated at: {{currentUser.updatedAt | date}}</span>
        </div>
    </div>
</div>

<div *ngIf="!currentUser">
    <mat-spinner class="spinner" [diameter]="100"></mat-spinner>
</div>

<ng-template #loggedOut>
    Please login
</ng-template>