<div class="col-md-6">
    <div class="input-group search">
        <input type="text"
               class="form-control"
               placeholder="Search by name"
        >

        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">
                Search
            </button>
        </div>
    </div>
</div>

<div class="list row">
    <!-- left side -->
    <div class="col-md-6">

        <!-- title and add icon -->
        <div class="d-flex justify-content-between subheader">
            <h4 matBadge="{{instructors.length}}" matBadgeOverlap="false">Instructors</h4>

            <div>
                <a class="btn btn-circle btn-outline-primary" [routerLink]="['/courses/add']"><i
                        class="fas fa-plus"></i></a>
            </div>
        </div>
        <!-- title and add icon -->

        <!-- list of items -->
        <ul class="list-group">
            <li class="list-group-item cursor-pointer"
                *ngFor="let instructor of instructors; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveInstructor(instructor, i)">
                {{instructor.lastName}} {{instructor.firstName}}
            </li>
        </ul>
        <!-- list of items -->

    </div>
    <!-- left side -->

    <!-- right side -->
    <div class="col-md-6 meta-info">

        <div *ngIf="!currentInstructor.id" class="text-center m-0 subheader">
            <p>Please click on an instructor</p>
        </div>

        <div *ngIf="currentInstructor.id">

            <!-- edit and delete buttons -->
            <div class="action-buttons">
                <a routerLink="/instructors/{{currentInstructor.id}}" class="btn btn-outline-dark btn-circle"><i
                        class="fas fa-edit"></i></a>&nbsp;&nbsp;
                <button (click)="confirmDeletion()" class="btn btn-outline-danger btn-circle"><i
                        class="fas fa-trash-alt"></i>
                </button>
            </div>
            <!-- edit and delete buttons -->

            <div class="subheader">
                <h4>{{currentInstructor.lastName}} {{currentInstructor.firstName}}</h4>
            </div>

            <div>
                <label>
                    <strong>Degree: </strong>
                </label>
                {{currentInstructor.degree}}
            </div>

            <div>
                <label>
                    <strong>Education: </strong>
                </label>
                {{currentInstructor.education}}
            </div>

            <div>
                <label>
                    <strong class="clickable" (click)="loadRelatedCourses()">Courses: </strong>
                </label>
                {{currentInstructor.courses}}
            </div>

            <div>
                <label>
                    <strong>Updated at: </strong>
                </label>
                {{currentInstructor.updatedAt | date}}
            </div>

            <div>
                <label>
                    <strong>Created at: </strong>
                </label>
                {{currentInstructor.createdAt | date}}
            </div>

            <div *ngIf="loadingCourses">
                <mat-spinner class="spinner m-0" [diameter]="50"></mat-spinner>
            </div>

            <hr>
            <div *ngIf="courses && courses.has(currentIndex) && !loadingCourses">
                <ul>
                    <li *ngFor="let course of courses.get(currentIndex)">
                        <div>
                            <a [routerLink]="['/courses', course.id]">{{course.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <ul>

                </ul>
            </div>

        </div>
    </div>
    <!-- right side -->

</div>

<div *ngIf="loading">
    <mat-spinner class="spinner m-0" [diameter]="100"></mat-spinner>
</div>